.divCenter{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.divCover{
    display: flex;
}

img{
    max-width: 50%;
    max-height: 50%;
}

/* search bar */

.search-click {
    border: 1px solid #ccc;
    outline: none;
    background-size: 22px;
    background-position: 13px;
    border-radius: 10px;
    width: 50px;
    height: 50px;
    padding: 25px;
    transition: all 0.5s;
}
.search-click:focus {
    width: 300px;
    padding-left: 50px;
}
.search-click {
    position: relative;
    overflow: hidden;
    height: 50px;
}
.search-click input {
    background: transparent;
    border: 1px solid #ccc;
    outline: none;
    position: absolute;
    width: 300px;
    height: 50px;
    left: 0%;
    padding: 10px;
}


.searchbar {
    margin-bottom: 58%;
    margin-left: 65%;
    margin-top: auto;
    height: 60px;
    background-color: #363131;
    border-radius: 30px;
    padding: 10px;
}
.search_input {
    color: white;
    border: 0;
    outline: 0;
    background: none;
    width: 0;
    caret-color: transparent;
    line-height: 40px;
    transition: width 0.4s linear;
}
.searchbar:hover > .search_input {
    padding: 0 10px;
    width: 320px;
    caret-color: red;
    transition: width 0.4s linear;
}
.searchbar:hover > .search_icon {
    background: white;
    color: #e74c3c;
}
.search_icon {
    height: 40px;
    width: 40px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: white;
    text-decoration: none;
}