.body{
    background-color: #121318;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.divCenter{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.divDati{
    display: flex;
    height: 256px;
    border-radius: 10px;
    background-color: #212328;
    vertical-align: middle;
}

.divCover{
    display: block;
    text-align: center;
    justify-content: center;
    position: relative;
    height: 256px;
    width: 256px;
}

.divScritte{
    display: block;
    padding: 38px;
}

.cover{
    padding-top: 38px;
    max-width: 70%;
    max-height: 70%;
}

.pages{
    max-width: 50%;
    max-height: 50%;
}

.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
}

body{
    background-color: #121318;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

